[2018-01-22 08:42] andr0xfe opened #1 "hello, What is the password by ssh login?"
AMI ID
Alpine-3.7-r2-Hardened-EC2 (ami-c487afa1)
use ssh:
![snip20180122_22](https://user-images.githubusercontent.com/33175774/35211897-3d0fd746-ff93-11e7-8ca9-483fabb4f6ff.png)

[2018-01-22 08:50] andr0xfe commented on #1
use awscli
![image](https://user-images.githubusercontent.com/33175774/35212163-413e2e8e-ff94-11e7-8a2d-af11823c0822.png)

[2018-01-22 14:55] mcrute commented on #1
There is no password for login, instead the instance will download your SSH public key that was configured through the AWS console. It looks like you're using root, instead use the username alpine. Once you have connected to the instance the alpine user can sudo to root without requiring a password.

[2018-01-24 02:37] mcrute commented on #1
@andr0xfe I'm going to resolve this. If that didn't fix your issue please re-open with more details.

[2018-01-24 02:37] #1 closed

[2018-01-26 05:34] andr0xfe commented on #1
@mcrute thank you! That's ok.

[2018-02-24 03:20] dominicholt opened #2 "Update tied to private s3 bucket"
When running the "apk update" command as root, the following error displays:

ERROR: https://mcrute-build-artifacts.s3.us-west-2.amazonaws.com/alpine-packages/3.7/testing: Permission denied

My guess is that the update command references a private S3 bucket you created.

[2018-02-24 04:03] mcrute commented on #2
Sorry about that. I rearranged the bucket and have an updated AMI that I’m testing for release next week. My repo is really only useful when bootstrapping the AMI, by the time you boot it everything that was needed is already installed. You can remove the repo from the repositories file to unblock your apk update. I’ll update this issue once I release the updated version next week.

[2018-03-06 04:09] dominicholt opened #3 "docker daemon won't run"
I can successfully install docker on the ec2 instance through APK, but when I try to run "docker ps", I always get this error/;

Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

[2018-03-10 22:22] mcrute commented on #3
Have you verified that docker is running? Have you tried running the docker command line as root? Because it's pretty easy to escalate privileges if you have access to the docker daemon they tend to be fairly conservative with their socket permissions. Check the permissions on `/var/run/docker.sock`.

Hope that helps. If this ends up being an problem with the AMI and not docker please re-open this

[2018-03-10 22:22] #3 closed

[2018-03-13 21:42] aschrijver opened #4 "Issue generating letsencrypt certificates from hardened kernel"
Hi,

It seems that I was trying your AMI, while thinking it was official. But it seems to have an issue when working with `letsencrypt` and docker to generate certificates.

This is a FYI, as I posted to the Letsencrypt discourse forum first: https://community.letsencrypt.org/t/letsencrypt-docker-image-not-starting-with-cryptical-python-error/55500

[2018-03-15 02:29] mcrute commented on #4
Hi @aschrijver. The AMI isn't official yet but I'm working on getting it into a state that's ready for more broad distribution and, hopefully with the support of the Alpine maintainers, release it as an official Alpine distribution mechanism. If you find the image useful I'm happy to work with you to find and squash any bugs.

I looked at your forum thread and it's difficult to say what the proble

[2018-03-15 17:21] aschrijver commented on #4
Thank you @mcrute !

I have changed the instance to run RancherOS.. it was running the announcer of my humane tech startup [innercircles](https://innercircles.community), so I needed to be up.

Now I am working on a different instance for a build server that uses [nginx-proxy](https://github.com/jwilder) (more specifically separate containers for [docker-gen](https://github.com/jwilder/docker-gen)

[2018-03-16 18:24] aschrijver commented on #4
Hi @mcrute
I had some great help on the letsencrypt forum, but the issue still persists.

I will temporarily install my build server on a different OS, but can still spin up a small AWS to test issues.

[2018-05-11 07:48] shatgupt opened #5 "How to create custom image?"
Sorry for this naive question but I couldn't figure out how to modify some parameters and generate my own image.

I just want to run a python script and hence I want to make an image as small as possible, which can be 1GB per EBS limits.

I figured out there are `volume_size` configs for input instance and ami_root in `alpine-ami.yaml` which I can reduce to 1GB. Am I correct? If yes, then do I hav

[2018-05-11 09:30] shatgupt commented on #5
The actual disk usage of freshly launched instance is around 540M and with python and python3 installed it is 640M. I think you can reduce the size to 1GB and have python installed by default since I feel it is a quite useful addition and anyways won't affect final disk size which still going to be 1GB.

Also simple `sudo add python` didn't work. I had to add `--no-cache`.
[code]

[2018-06-05 15:15] tejaashwine commented on #2
When running the make_ami.sh file tiny-ec2-bootstrap and ena package is missing as your s3 bucket permission has been revoked I guess. Kindly suggest me how to proceed with this issue.

[2018-06-12 17:15] jaybauson commented on #5
Following... I am still puzzled on how we can use this to build our own images.

[2018-07-30 15:06] mcrute commented on #5
The minimum volume size for EBS is 1GB so you won't be able to shrink the volume size below that. PR #6 does decrease the default volume size. I chose 5GB because I estimated that this would be about the right size for most small projects that didn't want to mount a second EBS volume.

The only other prerequisites other than packer and make are an AWS account that you can launch instances into.

M

[2018-07-30 15:09] mcrute commented on #2
My apologies for the slow reply here. Thanks to the PR from @tomalok that should be fixed now. I'll build and release a new AMI this evening when I have some time to test it and report back.

[2018-07-31 16:07] tomalok commented on #5
I'm working on another PR that will add the ability to configure a lot more via `variables.json`.

[2018-08-01 01:00] tomalok commented on #5
Just submitted PR #7 which should come in handy for those wanting to build their own AMIs.

[2018-08-18 00:42] tomalok commented on #5
I've also submitted some PRs to alpinelinux/aports for things that help us here...

https://github.com/alpinelinux/aports/pull/5023 - updating the AWS ENA driver to 1.5.3
https://github.com/alpinelinux/aports/pull/5024 - build NVMe modules for x86* linux virt flavor
https://github.com/alpinelinux/aports/pull/5025 - add e2fstools-extra dependency for tiny-ec2-bootstrap

[2018-09-04 18:28] tomalok opened #12 "Updates..."
Alpinelinux edge now has a `linux-virt` that supports NVMe, a `ec2-eni-driver-virt`, and an updated `tiny-ec2-bootstrap`.

And, as @mcrute has suggested, `variables.json*` would probably be better off as yaml, converted just prior to the Packer build.

I'll likely start poking at these soon.

[2018-09-05 05:26] tomalok commented on #12
Submitted PR #13.

[2018-09-05 05:31] tomalok commented on #5
The pending alpinelinux/aports changes have landed in edge.  Submitted PR #13 to incorporate them.

Also relevant to this thread, v1.2.0 of the `tiny-ec2-bootstrap` package will also resize a newly launched instance's root volume, if it's specified to be larger than the 1 GiB AMI image.

[2018-09-05 14:40] mcrute commented on #12
PR #13 is merged. Closing this issue.

[2018-09-05 14:40] #12 closed

[2018-09-11 16:59] mcrute commented on #2
This change has been merged. There is no longer a dependency on a private S3 bucket.

[2018-09-11 16:59] #2 closed

[2018-09-11 17:00] mcrute commented on #5
I think all the blockers for this issue have been resolved. I'm going to close it but if there are any remaining issues feel free to re-open.

[2018-09-11 17:00] #5 closed

[2018-10-18 05:46] helinwang opened #17 "Could you please comment on how to use this repo?"
Hi,

Thank you for creating this repo! I am trying to use this repo to create a EBS volume size of 1GB alpine AWS AMI. However, I am not sure how to use this repo. Could you please comment some brief steps?

Currently I am confused about:

- Where to run `make_ami.sh`, is it on my local dev machine or an AWS instance?
- What are the prerequisites, e.g., is aws-cli required?

Thank you!

[2018-10-30 03:09] mcrute commented on #17
Hi @helinwang. The easiest way to use this repo is to launch one of the AWS AMIs that are listed in the [README](https://github.com/mcrute/alpine-ec2-ami/blob/master/README.md). There's one in each commercial AWS region. You can use the [EC2 user-data](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html) shell scripts (but not cloud-init as it's not ported to Alpine yet). This is th

[2018-10-30 03:54] helinwang commented on #17
Hi @mcrute ,

Thank you!

I would love to launch the existing AMIs however the last time I checked it's 5GB but I needed 1GB.
It would be great if you could provide 1GB AMI too, since one big reason to use alpine is for the small size, and one can always scale up the disk size when launching the AMI, but he can not scale down.

I will try building manually according to your instructions.

[2018-10-30 15:50] mcrute commented on #17
The `volume_size` setting in `variables.yaml` should do the trick for you. Aside from a YAML to JSON conversion that happens in the build step (because YAML supports comments and is generally easier to read for humans than JSON) everything else is standard packer with a shell script to do the on-host setup.

[2018-11-09 18:28] mcrute commented on #17
@helinwang did that work for you? I'm going to close this issue but feel free to re-open it if needed.

[2018-11-09 18:28] #17 closed

[2018-12-02 19:16] tomalok opened #19 "Update set of publicly available AMIs"
We should be able to retire the 3.7 AMIs in favor of 3.8-r1 (aka 3.8.1).

@mcrute - I could host them publicly from my account if you'd rather not.

[2018-12-02 19:25] tomalok opened #20 "gen-readme.py.in and scrub-old-amis.py.in need updating or retirement"
Things have changed a bit since these scripts were written, we should review/fix/replace/retire these?

We may want to add links in the README (or in a separate document) for publicly-available historical AMIs.  Probably not a bad idea to clearly state retention policy for old AMIs, too.

[2018-12-02 21:10] mcrute opened #21 "Migrate AMIs to new AWS account"
The end goal of this repository is to contribute the AMIs to upstream Alpine and do releases on the same cadence as the official releases. To simplify accomplishing this we need a new AWS account that exists only to publish AMIs. @mcrute will pay for the storage and compute to build images on this account for now until there's a more clear path to upstream.

[2018-12-02 21:12] mcrute opened #22 "Setup CI"
Setup CI so that images can be published immediately after release and so that we can handle rolling off old images. Possible options are Travis or Jenkins. I like Travis because it's free and fairly hands-off but an open to other opinions.

[2018-12-02 21:13] mcrute commented on #19
I'll do a manual build of the 3.8 AMI and remove the 3.7 ones either today or early this next week. Once that's done I'll resolve this issue.

The long term plan for this repo has been to validate the AMI concept and get everything in stable working order then to contribute the whole thing upstream. To that end I'm planning to create an entirely new AWS account and host the AMIs from there so that

[2018-12-02 21:23] mcrute opened #23 "Document update and retention policy"
We may want to add links in the README (or in a separate document) for publicly-available historical AMIs. Probably not a bad idea to clearly state retention policy for old AMIs, too.

[2018-12-02 21:33] tomalok commented on #23
Following https://en.wikipedia.org/wiki/Alpine_Linux#Version_history might be a good starting place...  Would still need to sort out what to do about interim patch releases (3.8.1) and possibly edge(s).

[2018-12-03 00:23] tomalok opened #24 "New AMIs not launching"
My newly built AMIs aren't launching -- they're not even getting as far as bootstrapping the kernel...  :(

Unfortunately, I was "clever" and removed my previous known-to-work AMIs, so I can't compare...  Shouldn't be anything in the latest PR #18 that would have caused this, AFAICT.

![example instance screenshot](https://user-images.githubusercontent.com/18317471/49346977-7116c600-f64e-11e8-9db3

[2018-12-03 01:06] tomalok commented on #24
There's a new Amazon Linux AMI built on 16 November that's being pulled in.  Explicitly specifying the previous one from 10 August in `alpine-ami.yaml` results in a bootable Alpine AMI.

Going to see if I can find any `extlinux` version or config changes between the two.

[2018-12-03 17:03] IanS94 commented on #24
Resolved this locally by adding the following to the start of make_filesystem()

    # Weird little tweak to mkfs so it doesn't make the filesystem 64Bit - that's actually a thing :'(
    # ExtLinux (Syslinux) doesn't work with 64 Bit Ext4.
    ex -s +'/ext4/+1 s/64bit,// | x' /etc/mke2fs.conf

Just above the mkfs.ext4 line :)
Would MR but seems you've found it anyway, your solution seems cleaner

[2018-12-04 03:09] tomalok commented on #24
Just the boot volume needs to not have 64bit support -- better to leave it turned on by default for other potential volumes.

Closing, as the solution's been merged.

[2018-12-04 03:09] #24 closed

[2018-12-04 03:14] tomalok commented on #4
It's unlikely that the grsec hardened kernel will be making its way back into Alpine -- though other security measures (compilation flags, etc.) remain.

We've also switched the kernel to `linux-virt` a while back, which now includes NVME support, updated the `aws-ena-driver` package, etc.

Any reason to keep this particular issue open?

[2018-12-04 03:18] tomalok commented on #22
I know there's a lot of everything still tied to GitHub, but what are your thoughts about GitLab and its integrated CI?

[2018-12-04 04:00] mcrute commented on #22
Personally I'd prefer to stick with GitHub and use something like TravisCI to do the image building. I'm already using two different code hosting services and I'm not keen to add a third. Also, none of the Alpine developers seem to be using GitLab which would make it harder to push this all upstream when we get to that point.

[2018-12-28 20:30] tomalok opened #28 "aarch64 AMIs"
With the advent of a1 (arm64) instance types, we should also build AMIs for them, too.

[2019-01-11 11:39] nelsongraca opened #30 "Can't build AMI"
I'm trying to build the AMI, but it seems like the package aws-ena-driver is missing.

[code]

[2019-01-11 14:38] IanS94 commented on #30
It's no longer a package in the edge or 3.8 repos. Not sure if that's as it's in the core OS now, as the 3.8.2 changelog does refer to it

[2019-01-11 14:49] nelsongraca commented on #30
From what I understand after checking the changelog it should be available in the testing repos, but my knowledge on that is quite limited.

[2019-01-11 14:53] tomalok commented on #30
the aws-ena-driver that was being used was from edge.  however, the linux-virt (well, and -vanilla) package has the AWS driver in it already.  It's been enabled as a module there, and apparently the old edge package has been removed.

i should be able to provide a PR in short order to fix things.

[2019-01-11 14:58] nelsongraca commented on #30
@tomalok so simply removing the package should work? I will be waiting on the PR also.

[2019-01-11 15:00] tomalok commented on #30
@nelsongraca I'll be testing that theory shortly.

[2019-01-11 15:12] nelsongraca commented on #30
@tomalok I went ahead and tried it, the AMI was built and the module is there.
`
$  modinfo ena
filename:       /lib/modules/4.19.14-0-virt/kernel/drivers/net/ethernet/amazon/ena/ena.ko
version:        1.5.0K
license:        GPL
description:    Elastic Network Adapter (ENA)
author:         Amazon.com, Inc. or its affiliates
srcversion:     0646520359090667B5A1C01
alias:          pci:v00001D0Fd0000

[2019-01-11 15:34] tomalok commented on #30
@nelsongraca the module should be there, because i submitted the patch to put it there...  :)

I also removed the edge repo dependency for the `linux-virt` package.

PR #31

[2019-01-12 01:09] tomalok commented on #30
@nelsongraca all pending PRs have been merged (thanks, @mcrute), so you should be able to build 3.8.2 without adjustments.

Also note, alpine 3.9 is getting close, rc's started showing up recently.

[2019-01-12 01:10] #30 closed

[2019-01-17 09:00] IanS94 opened #32 "'ip: ioctl 0x8913 failed: No such device' after changing to virt"
Hi all,

We've started seeing the error in the title on instances stood up with the latest image. We do add in python3, pip and AWSCLI to the image make, along with gcc and some basis build libs although wouldn't imagine these being an issue for the interface name 'eth0' not being found

Is there anything you're aware of that could cause this, tried it with NIC attachment and inline with terraform

[2019-01-17 09:10] IanS94 commented on #32
Just turned off the instance, swapped it to c4.large and its up and working with udhcpc working..

Looks like it's ENA/SRVIO related

[2019-01-17 17:55] tomalok commented on #32
Interesting.  I had the same/similar thing happen to me on a t3.nano I spun up for testing a new AMI (but then didn't get back to until a day later).  I thought it might be an EC2 hiccup or something, and either rebooted or terminated/recreated (can't recall at present) and it was fine the next time around.

I'll take a look into this when I have a chance (hopefully this weekend).

[2019-01-19 18:20] tomalok commented on #32
I've confirmed the issue.

Alpine Linux's `linux-virt` for edge (and 3.9, due soon) is 4.19.x, and includes the `ena` module.  For 3.8, however, we used to have `aws-ena-driver` in the edge-testing repo -- but that's no longer available, and 3.8's `linux-virt` is 4.14.x -- if the `ena` driver is available there, it's not the most recent version.

To resolve this, I could either modify the AMI buil

[2019-01-19 19:58] #32 closed

[2019-01-31 02:32] tomalok commented on #28
I managed to get an aarch64 version of `linux-virt` in for alpine 3.9 -- but there's more work yet to do.  Currently at the point where we'll need to use `grub` instead of `syslinux` as a boot loader; there may need to be other as-of-yet unknown arch-specific tweaks needed, too.

[2019-01-31 02:35] tomalok opened #35 "alpine 3.9 released"
With Alpine 3.9, released yesterday, we should be clear of any lingering dependencies on edge repositories.

We should consider making this the de facto base version, going forward.

[2019-02-03 23:00] tomalok commented on #35
Submitted PR #36

[2019-02-04 23:56] tomalok commented on #35
PR #36 merged.

[2019-02-04 23:56] #35 closed

[2019-02-05 00:00] tomalok commented on #21
I've got some cycles, and wouldn't mind setting up the new AWS account and sponsoring it for now.  We can always re-link under a different master account, or switch to a new one in the future.

[2019-02-05 00:17] tomalok commented on #23
For now, I'd say we initially start with 3.9/3.9.0 and build new AMIs with each release.  Releases should continue to be available (like they are via http://dl-cdn.alpinelinux.org/alpine/v3.8/releases/x86_64/ etc.), but we may choose to remove AMIs from versions that are EOL (per wikipedia, above).

[2019-02-05 00:47] tomalok opened #37 "develop notion of a "build profile""
Features and requirements change from version-to-version and from architecture-to-architecture.  Examples:
* Prior to 3.9, we needed to pull certain packages "from the future" in order to get things working...  It is concievable that we may need to do this again at some point.
* In order to support `aarch64` architecture, we'll need to use `grub` bootloader instead of `syslinux`,  and we'll need t

[2019-02-06 02:13] tomalok commented on #19
PR #38 on deck for a set of 3.9.0 AMIs.

[2019-02-06 02:14] tomalok commented on #21
AMI's are all set in the new AWS account.  PR #38 will update the README, etc.

[2019-02-08 01:30] tomalok commented on #19
Updated!

[2019-02-08 01:30] #19 closed

[2019-02-08 01:32] tomalok commented on #21
AMIs are migrated!

[2019-02-08 01:32] #21 closed

[2019-02-14 21:06] oliwer opened #39 "Very slow boot"
I have tested alpine-ami-3.9 on several t2.* instances and I have noticed they take several minutes to boot. More precisely, i have to wait at least 3 minutes before OpenSSH starts listening for connections. These logs from a t2.nano confirm this:

[code]

Notice how sshd starts about 3 minutes after chrony.

I suspected this was due to a lack of entropy during the host keys generation process, an

[2019-02-15 01:58] tomalok commented on #39
Thanks for the link to https://bugs.alpinelinux.org/issues/9960 -- in general, I'd say we wait and see where that leads and then follow Alpine's official decision -- especially when it comes to kernel command line defaults.

FWIW, I've experienced this as well (~2-3m for SSH availability on t3.nano), so on my personal customized Alpine AMIs, I add `haveged` to the boot runlevel, install an `/etc/l

[2019-02-15 02:44] tomalok opened #40 "nvme-ebs-links sometimes "comes up short""
I've now seen a couple times where the `nvme-ebs-links` mdev script does a `nvme id-ctrl ...` to read the EBS volume name, but only gets part of the EBS volume name (i.e. 'x' instead of 'xvdb') -- almost as if whatever manages that value hadn't quite written it all there yet.

Seems to be most prevalent after partitioning a volume...

[2019-02-15 22:14] oliwer commented on #40
Other distributions like CoreOS use `nvme id-ctrl --raw-binary "$1" | cut -c3073-3104` instead of `dd bs=32 skip=96 count=1`. I wonder if that could make a difference.

To be safe, we could change the test from `[ -n "$EBS" ]` to `[ ${#EBS} -gt 3 ]`.

[2019-02-16 00:56] tomalok commented on #40
That's where I originally started.  For whatever reason (likely the `busybox` implementation), `cut` was simply not working properly on Alpine.  I could see what I wanted to grab (at 0xc00 - 0xc1f) by piping through `hd`, and `dd` works properly with binary data.

Safer check...
* don't strip off the trailing spaces right away
* ensure `$EBS =~ /(xv|s)d[a-z]{1,2} /`, otherwise try again
  * usuall

[2019-02-24 04:30] mcrute commented on #39
I'm definitely a fan of keeping the image as minimal as possible but I want to make sure that it provides a good experience for people trying to run Alpine on EC2. AWS has made pretty major improvements in the boot speeds of the latest generation of hardware and it seems a shame to make Alpine users wait an extra 2-3 minutes to be able to ssh into their machine when we can easily ship one more, fa

[2019-02-24 09:25] oliwer commented on #39
I did some more research and it seems compiling virtio-rng statically in the kernel allows it to start gathering entropy sooner at boot. That's what CoreOS did and they don't ship haveged or rngd. Could someone test this please?

[2019-02-24 19:26] tomalok commented on #39
I did some quick non-scientific tests a few days ago on a t3.nano that wasn't doing much of anything (i.e. not adding much entropy based on what it was doing) installed `rng-tools` and ran `cat /dev/random | rngtest -c 1000` a couple times.

With `haveged` running, the test generally completed between 1.4s and 1.6s, with an input channel speed of 14.0 - 14.4 Mbit/s.

With `rngd` running instead (u

[2019-02-26 02:10] tomalok commented on #39
The "3.9.0-1" AMIs (or codebase if you're rolling with your own `variables.yaml` config) should address this issue in the short term.

[2019-02-26 02:12] tomalok commented on #40
The "3.9.0-1" AMIs should take care of this issue -- I've been using AMIs with this fix for about a week now, with no problems.

[2019-02-26 02:12] #40 closed

[2019-02-26 18:56] ncopa commented on #39
Apparently alpine already have `CONFIG_HW_RANDOM_TPM=y`
I notice that fedora and coreos has `CONFIG_HW_RANDOM_VIRTIO=y`. Maybe that helps?

https://github.com/coreos/coreos-overlay/pull/3231/commits/fa4f2f4db6af68c59d018cf38c10d26073d50771

[2019-02-27 16:55] tomalok commented on #39
While flddling around with `config-virt.x86` kernel settings last night, I got it down to about 53s to get to `random: crng-init done` on a reboot (haven't tried it from an initial instantiation yet).

Took a look at what else coreos might be doing -- turns out there's a `systemd-random-seed.service` that appears to be running right before it achieves `random: crng-init done` at around 6.7s (also

[2019-03-02 22:31] tomalok commented on #39
Fiddling with configs individually or in small groups was getting me nowhere, so I built a linux-virt kernel using the CoreOS config with as few modifications as possible (primarily signed modules)...

Booting with the CoreOSy kernel...  had no positive effect, in fact it was worse.  139.57s to get to `random: crng-init done`.  The fix isn't in the kernel configs.

[2019-03-03 20:07] sedlund commented on #40
Having problems with /lib/mbed/nvme-ebs-links eating 100% cpu on a t3.nano with 3.9.1 (ami-054428bd9a4f1da32) after attaching another ebs volume.

It will also not boot if the volume is attached, hanging at busybox: mdev

[2019-03-03 20:20] tomalok opened #44 "nvme-ebs-links eating 100% cpu"
@tomalok
Having problems with /lib/mbed/nvme-ebs-links eating 100% cpu on a t3.nano with 3.9.1 (ami-054428bd9a4f1da32) after attaching another ebs volume.

It will also not boot if the volume is attached, hanging at busybox: mdev

_Originally posted by @sedlund in https://github.com/mcrute/alpine-ec2-ami/issues/40#issuecomment-469058817_

[2019-03-03 20:21] tomalok commented on #44
Will investigate a little later today.

[2019-03-03 21:01] tomalok commented on #44
it appears that sometimes EC2 will sometimes say the EBS device is `sdX`, sometimes it's `xvdX`, and (here's what was missed) sometimes it's `/dev/sdX`(and presumably `/dev/xvdX` may also be valid.

I'll update the regex to allow for the possibility of a leading `/dev/`, maybe add a small sleep to the loop, and timeout with a syslog error after a certain number of tries.

[2019-03-04 00:24] tomalok commented on #44
@sedlund - Please try the updated `/lib/mdev/nvme-ebs-links` script from PR #45 -- that should do the trick for you.

[2019-03-04 02:23] sedlund commented on #44
Tested hot add ebs volume, added to fstab and reboot with auto-mount. Works now.

Thank you!

[2019-03-04 05:59] tomalok commented on #44
Thanks for verifying, I'll roll a fresh set of `alpine-ami-3.9.1-1-x86_64` AMIs tomorrow.

[2019-03-05 02:16] tomalok commented on #44
Fresh set of `alpine-ami-3.9.2.x86_64` AMIs have been rolled.

[2019-03-05 02:16] #44 closed

[2019-04-14 10:18] phlummox opened #48 "Addition to README - helpful info about tiny-ec2-bootstrap?"
I ran into an issue trying to make a new AMI based on the ones provided here (for which, thank you, they are much appreciated!) - I was completely unable to ssh into instances created from the AMI, regardless of what I did.

I eventually discovered the issue was spelled out in the `tiny-ec2-bootstrap` README: if the tool you use to make a new AMI ([`packer`](https://www.packer.io/), in my case) do

[2019-04-22 21:07] HRio commented on #39
This was committed today to alpine v3.9: https://github.com/alpinelinux/aports/commit/265a653bad851898a245bcdc5cb6a8d2143b4bb3

if you add `haveged` and have it start in runlevel boot `rc-update add haveged boot` it will start right after `networking` in the `boot` runlevel.

However if the emulated CPU has `rdrand` in cpu flags, `rngd` from the package `rng-tools` is preferred (`rc-update add rng

[2019-04-22 23:52] tomalok commented on #39
Thanks for the update @HRio, I'll take another look at `rngd`, as I believe that (at least) EC2 instances (well, x86_64 arch at least) have `rdrand` enabled -- there may be some additional linux-virt config work to be done to better support it.

[2019-04-22 23:54] tomalok commented on #48
Thanks @phlummox, I'll add a note the "caveats" section of the README in the near future.

[2019-04-23 15:49] HRio commented on #39
sshd after entropy fix now in v3.9 https://github.com/alpinelinux/aports/commit/a0125e7de015ab8a1fdf63b9217ce33861b82e1c

[2019-04-30 05:36] tomalok commented on #39
It also appears that `CONFIG_RANDOM_TRUST_CPU` has been reenabled in main/linux-vanila...

https://github.com/alpinelinux/aports/commit/e67c2f8bcb163695a5917e059a2c7ba46726ee89

...with a link explaining why it's enabled in Ubuntu.

[2019-04-30 09:02] ncopa commented on #39
i will try backport the `CONFIG_RANDOM_TRUST_CPU` change to `3.9-stable` branch so it gets in cluded with `3.9.4`

[2019-05-01 04:24] tomalok commented on #28
Blocked by https://github.com/hashicorp/packer/issues/7358

[2019-05-01 18:11] rderewianko opened #50 "Not a issue but Thank you!"
Thank you for this! I was able to get it up, use packer to provision it how i'd like and not have to pay okindev .50c a half hour for their preconfigured vm, that i'd still need to run through packer.

[2019-05-03 15:09] oliwer commented on #3
I reproduced this bug with alpine-ami-3.9.3. I used the following user-data:

    #!/bin/sh
    apk update
    apk add docker
    service docker start

And here is what i see in /var/log/messages

    daemon.err /etc/init.d/docker[2526]: ERROR: cannot start docker as cgroups would not start

Yet, when I login to the VM and start docker myself it works fine. Could this be because tiny-ec2-bootstrap

[2019-05-03 15:27] tomalok commented on #3
Took a look at my `user-data` script that starts up docker (and does some other misc things), and here's what I'm doing...
[code]
Some time after I wrote that script, I've also taken maintainership of Alpine's `docker` packages, but apparently I forgot about this.  I'll add a `cgroups` dependency for the docker init script, should be in the next Alpine version (3.10)...  In the meantime, be sure t

[2019-05-04 16:45] tomalok commented on #3
Turns out the `need cgroups` dependency is already there.

I instantiated a new image, logged in, and did `apk -U add docker && /etc/init.d/docker start` (as root) and that indeed works.  Running with a similar `user-data` doesn't -- this is probably a bug and/or caveat with [tiny-ec2-bootstrap](https://github.com/mcrute/tiny-ec2-bootstrap).

As you can see from my solution above, I had run into t

[2019-05-05 09:59] phlummox commented on #48
Many thanks!

[2019-05-05 19:07] mcrute commented on #50
Cheers! Glad this helps you and especially thanks to @tomalok who has put a lot of effort into improving the quality of the image!

[2019-05-05 19:07] #50 closed

[2019-05-06 13:14] oliwer commented on #3
Thanks a lot @tomalok. For now, explicitly starting cgroups before docker will do :)

I bet it's `keyword -docker` in /etc/init.d/cgroups that is blocking us.

[2019-05-09 05:05] tomalok commented on #28
As noted on hashicorp/packer#7358, I've used a build of `packer` that allows the setting of `ami_architecture` to successfully build an AMI.

Granted, that AMI didn't boot properly, but I believe that's due to my not having `grub-efi` set up correctly just yet...

[2019-05-09 05:07] tomalok commented on #37
With PR #49, I think we have a notion developed now.  Closing this issue.

[2019-05-09 05:07] #37 closed

[2019-06-29 05:22] mfestrada commented on #1
FWIW I had a difficult time with this as well, maybe that should be in the README?

[2019-06-29 16:22] tomalok commented on #1
Hi Michael,

PR #51 (https://github.com/mcrute/alpine-ec2-ami/pull/51 <https://github.com/mcrute/alpine-ec2-ami/pull/51>) does some significant reorganization to the project.

Although the top-level README.md is now more about how to “roll your own” custom AMI, we still vend pre-built AMI releases, and that branch’s AMI releases documentation can be found  at https://github.com/mcrute/alpine-ec2-a

[2019-07-03 21:49] mfestrada commented on #1
Hi Jake,

Thank you for the feedback!!! Love the AMI so far, please excuse my comment on the thread.  I had spoke too soon as it WAS clearly stated in the README.  Please disregard!

[2019-07-05 19:51] #39 closed

[2019-07-13 01:40] tomalok opened #53 "ap-east-1 is detected, but giving AuthFailures with federated credentials"
Using my AWS account and IAM user, with ap-east-1 disabled...
[code]
[code]

I then enabled it on my account, wait a while, and then try again...
[code]
[code]

When using this project's federated credentials, however, the results are always equivalent to when I have ap-east-1 disabled.

https://console.aws.amazon.com/billing/home/?#/account has a highlighted note about STS endpoints -- if I'm rea

[2019-08-19 20:11] lAnubisl commented on #39
alpine-standard-3.10.1-x86
the issue is still here

[2019-08-19 21:51] tomalok commented on #39
Could you include an example launch profile that demonstrates what you're seeing, as well as dmesg output from the instance, so that we can investigate the issue?  FWIW, I've launched numerous instances with recent AMIs, and haven't seen a recurrance.

Thanks

iSent from my iPad

[2019-08-20 00:13] tomalok commented on #39
@lAnubisl, I instantiated a t3.nano from the stock `alpine-ami-3.10.1-x86_64-r1` AMI, and `dmesg` reports...
[code]
Which is *MUCH* speedier than the 2-3m that it used to take with the 3.9 kernel config change, and still considerably faster than the `haveged` solution we temporarily used (6s) in the interim.

[2019-08-20 08:48] lAnubisl commented on #39
@tomalok Well. I just realized that this topic relates to ec2-ami only. My issue is related to Alpine installed on my hardware. If you still can do something with this then let me know please.

[2019-09-06 19:32] munntjlx opened #57 "How do delete generated AMIS and limit region?"
Great script, but I don't see how I can ONLY create 1 image in 1 region. How do I delete 'accidental' images in EVERY region?

[2019-09-06 22:47] tomalok commented on #57
Hi @munntjlx

I'm assuming you've copied `profiles/alpine.conf` to some other file in `profiles/`?

You will want to change...
[code]
...to...
[code]

When `ami_regions` is unset like this, the built AMI will be in the region specified by the `build_region` value.  Without first setting it to `null`, the previous contents of `ami_regions` get merged with the empty hash, yielding no change.  I beli

[2019-10-26 21:48] #57 closed

[2019-10-26 21:49] #48 closed

[2019-10-26 21:50] tomalok commented on #20
Closing, these scripts were retired with the advent of build profiles, #51

[2019-10-26 21:50] #20 closed

[2019-12-08 21:10] tsarna opened #59 "Move alpine user home to not conflict with NFS/EFS /home mounts"
Enhancement request:

/home is so commonly used for NFS mounted home directories (including EFS on EC2), that having the alpine user's home there is problematic. It's a hassle to deal with moving it using eg ansible or creating a derivative packer image since it's typically the ansible user itself that would be used to do that, and these tools don't particularly like having $HOME disappear out fro

[2019-12-28 07:20] mcrute commented on #59
The approach in the Alpine image mirrors that of other AMIs (Ubuntu, Amazon Linux, Fedora, etc...) so I'm reticent to change that and risk breaking common assumptions for users.

There are at least two other possible ways to handle this case. One would be to make the home directory swap using a shell script in the instance user-data. Presumably you're already using this to bootstrap Ansible on the

[2020-04-05 20:12] tsarna commented on #59
I was trying to avoid using instance user-data, but I have switched to this approach. Thanks for responding, and thanks or your work on these images!

[2020-04-05 20:12] #59 closed

[2020-04-13 14:38] junkb opened #64 "unable to log into ec2 instance after creation"
hi-

i've created a couple of different ec2 instances from the following amis:

* alpine-ami-edge-x86_64-20200403021415 [ami-034b4fb0ea71693e3]
* alpine-ami-3.11.5-x86_64-r0 [ami-02fa6ea44ed68cbd1]

the creation of the ec2 instance appears to go well, but i'm unable to ssh:

OpenSSH_8.1p1, LibreSSL 2.7.3
debug1: Reading configuration data /Users/localadmin/.ssh/config
debug1: /Users/localadmin/.ss

[2020-04-14 01:12] junkb commented on #64
after experimenting a bit more, it seems like the instance metadata retrieval isn't working as expected.

i attached the volume to another instance and inspected, and ~alpine/.ssh/authorized_keys is present, but empty.  i manually populated it and was then able to log in as alpine.  at that point i also noticed that the system hostname was not set.

if i'm understanding the initialization mechanis

[2020-04-14 01:25] junkb commented on #64
i think i've figured this out.  i'd been creating ec2 instances that required version 2 of the instance metadata service:

https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/configuring-instance-metadata-service.html

this requires a token, whereas version 1 of the service does not.  i created a new instance allowing version 1, and everything works fine.

would a feature request for support of

[2020-04-17 16:09] thresheek commented on #28
Hey @tomalok! Thanks for your work on making aarch64 ami a thing.  Indeed, we have the same issue as in AMI doesnt boot up properly; I was wondering if that is indeed a grub issue as it seems to be set up; or maybe a kernel one?

Any idea on how could we help debugging the issue?

Thanks

[2020-04-17 23:37] tomalok commented on #64
I think this issue / feature request would be best addressed over at https://github.com/mcrute/tiny-ec2-bootstrap

[2020-04-17 23:37] #64 closed

[2020-04-17 23:49] tomalok commented on #28
I haven't had spare cycles in nearly a year to dig deeper into this particular issue.

The last thing I recall is considering giving up on `grub`, and instead using `u-boot` sysloader, which apparently is capable of using the same files as `syslinux` -- making that switch is probably the next step.

[2020-04-18 01:19] mcrute commented on #64
@junkb: I agree with @tomalok that mcrute/tiny-ec2-bootstrap is the correct place for this issue. I've opened mcrute/tiny-ec2-bootstrap#6 to address this. I'll try to get to it next week but would also be open to accepting pull requests if you'd like to take a crack at it.

[2020-04-18 02:37] junkb commented on #64
sounds good to me, thanks

[2020-04-23 08:59] martin-g commented on #28
I would be glad to see this issue resolved!

[2020-04-24 15:03] tsarna commented on #28
a1 was little disappointing, but with m6g coming I think this gets more interesting.

If you enabled something like Issuehunt for this repo, I'd be willing to kick in a few bucks to help move this along.

[2020-05-06 19:50] mcrute commented on #64
The IMDSv2 changes for tiny-ec2-bootstrap were merged to Alpine Edge this morning (PST) and should be available if you're using edge.

[2020-05-06 19:51] tomalok commented on #64
I should be able to build a new edge AMI in the near future.

[2020-05-13 21:23] tsarna commented on #28
m6g family is now GA and is _very_ attractive, offering better performance than m5 at prices lower than t3 (and barely above t3a).

I renew my offer of, say, a $50 reward as a small incentive to anyone who wants to work on this.

There are already images of Red Hat, Ubuntu, SUSE, and Amazon Linux for aarch64. It's probably worth investigating what boot process they use.

[2020-05-15 23:51] mcrute commented on #28
@tsarna I'm really interesting in getting ARM up and running as well. I've started to dig in and I think I might have a path forward.

Thanks for your offer of a bounty. I do appreciate that you're willing to put money behind an issue that's important to you but making money is not a goal for this project.

I'm not going to have time to look at this till Monday but if my research is correct I may

[2020-05-23 01:25] mcrute commented on #28
I was able to work on this a little bit this week and I think I'm making progress. I don't yet have a bootable image, there are still issues making it through the boot loader. I've posted my current, heavily work in progress, branch in case anyone wants to tinker with this over the weekend. Otherwise I'll pick it back up on Tuesday and report back at the end of next week with progress.

[2020-05-23 01:30] mcrute commented on #53
It looks like the issue here is how opt-in regions support STS. They have their own regional endpoints and won't accept credentials from other regions or the global region. The fix basically required a complete re-write to the identity broker but should hopefully put us in a place where better automation is supported in the future. I'm also going to have to write a release tool that will assume th

[2020-05-28 16:38] mcrute commented on #28
I'm happy to report that I've had some success getting a system to boot through userland. I think the only real issue is network initialization, but I have a few ideas on how to fix that. Once that's wrapped up I'll release a beta AMI on this issue and let it soak for a few days before a full release next week. I'm hoping to wrap this up today for a beta release tomorrow.

[2020-05-28 18:06] mcrute commented on #28
Alpine isn't building the ENA driver in their kernel for aarch64. I've submitted a [patch to upstream](https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/8532) but this will be necessary for a real beta.

[2020-05-28 18:46] kaniini commented on #28
I don't think that the AMI should be based on `linux-edge` kernel.  We are using that kernel for testing, and stability (in terms of functionality and enabled features) is not guaranteed.  Hince why it is in testing.

[2020-05-28 19:16] mcrute commented on #28
I discussed with @kaniini in IRC but for the sake of documentation... we don't support the `linux-edge` packages and do not plan to ship them in any AMI we publicly release. The change to edge is primarily to keep lts and virt kernels in sync with edge and to not block users building derivative AMIs from using it if they have a use-case.

[2020-05-28 19:41] mcrute commented on #28
The ENA MR for upstream noted above does allow the system to fully boot to SSH access. Now I just need to work the fixes back into the build script and profile system and this should be ready for a beta release, maybe even today. Upstream is pushing the kernel changes out into edge and should they should land in 3.12 (thanks @ncopa!).

[2020-05-28 21:29] mcrute commented on #28
I have a working test AMI in us-west-2 for both `a1` and `m6g`. Please give it a try and report back if you run into any issues. Do **NOT** use this AMI for anything but short-lived testing as I will be deleting it within the next week. This is not a generally available ARM AMI, it's just for validation testing!

`ami-02c73acf61ee8cf92`

I'm also doing some testing and will wait for feedback befor

[2020-05-29 01:34] mcrute commented on #22
Well a lot has happened since this was opened. Now that GitHub actions are a think I thin we should use those. I think that we can use the [GITHUB_TOKEN](https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token) feature of the build to allow the builder to authenticate with the identity broker and to do the builds and releases with each push to the

[2020-05-29 01:57] tomalok commented on #28
there have been a couple of RCs for Alpine 3.12, hopefully the aarch64 config tweak will make it in before that happens.  i thought I'd submitted a patch to get all -virt flavors in line some time ago, but apparently not, or it's been undone in the interim.

[2020-05-29 02:01] mcrute commented on #23
Deleting AMIs has implications for users that embed them in CloudFormation templates and autoscaling groups. Ideally I'd say that we should not ever delete and AMI but since I'm personally funding this I'd like to strike a balance between supporting our users and not incurring unbounded cost. Therefore, I propose:

A release series is the set of releases that track a numbered Alpine release (e.g.

[2020-05-31 19:22] tomalok commented on #23
I'm in agreement with the definition of a release series and that published AMIs in a release series should stick around long-term, with one possible exception -- if an AMI contains a serious security flaw, it may be best to pull it.

I'm more of the opinion that EOL is EOL, but I can see perhaps keeping those around for a little while, maybe a year at most, but two is quite a stretch.  3.12's EOL

[2020-05-31 19:27] tomalok commented on #22
Sounds good to me.

[2020-05-31 20:11] mcrute commented on #23
I would generally prefer to recommend that people upgrade to the latest release rather than pull the image to avoid the risk of possibly breaking autoscaling groups and CloudFormation templates. Although I think we should reserve the right to pull an image if faced with a particularly dire security issue. Although in that case I'd like to see us have that conversation publicly in an issue before d

[2020-06-01 16:18] thresheek commented on #28
Thanks!

I've tested building 3.12 on aarch64 using the current master source and they boot just fine on a1.medium.

[2020-06-01 17:23] mcrute commented on #28
@thresheek thanks for the feedback! I'm wrapping up a few little tooling changes and we should have the 3.12 release out for all architectures early this week.

[2020-06-16 11:55] emiliofernandes commented on #28
Thank you for your work, @mcrute !

[2020-06-24 07:09] martin-g commented on #28
@mcrute I guess you've been busier lately. Any idea when you will be able to release the new AMI ?

[2020-06-30 03:04] zfLQ2qx2 opened #70 "Enable IPv6 DHCP by default"
I was able to build the AMIs with no issue. If I bring up an instance in a vpc with ipv6 enabled I get both IPv4 and IPv6 addresses assigned in the ec2 console, I'm able to ssh into the IPv4 address, however it looks to me like no IPv6 address is being obtained nor routes set at the OS level. I do see the ipv6 module loaded and it is in /etc/modules as well but even following the Alpine wiki I'm n

[2020-07-01 17:43] oxr463 commented on #22
Perhaps this should be reconsidered since upstream now hosts their own GitLab instance.

[2020-07-01 18:09] oxr463 opened #71 "Disk partitioning scheme"
[code]

The output above is really confusing to me. Not really sure what is going on with all of those partitions.

[2020-07-01 18:44] mcrute commented on #28
@martin-g my apologies, things have been a little crazy lately. The big blocker on this is getting the release tool tested. I have it pretty much written but need to do some testing before I can get the latest images for ARM released. I'm hoping to have this done either by the end of this week or by the middle of next week. I'll update this issue on Friday either way to let everyone know what's ha

[2020-07-01 19:11] mcrute opened #72 "Support Upstream CI"
Alpine is running a [GitLab instance](https://gitlab.alpinelinux.org/) that supports CI, we should consider migrating to it at some point. This will require updates to the identity broker to support the GitLab CI authentication model. As of right now it seems that there's [not much support](https://docs.gitlab.com/ee/api/README.html#gitlab-ci-job-token) for using the tokens they provide to verify

[2020-07-01 19:11] mcrute commented on #22
In general I'm supportive of using upstream infrastructure, however, there are a few moving pieces that need to be put in order to make that work well.

Probably the biggest issue is our identity broker, which allows access to our AWS accounts. Only people who do releases ever see this but it's essential to our release process. The broker exists to pivot an authenticated and authorized GitHub iden

[2020-07-02 15:16] martin-g commented on #28
Thank you for the update, @mcrute !

[2020-07-02 16:25] oxr463 opened #73 "AWS Marketplace"
Why not list these in the marketplace?

[2020-07-02 19:15] mcrute commented on #73
I'm reading this question as "Why would you not charge people to use this AMI by posting it in the marketplace so that you can cover your costs and maintain legacy AMIs indefinitely?", if that's not what you meant please re-state your question.

Charging people for access to the AMI is against the spirit of this project. We're Alpine enthusiasts and we want to provide everyone access to a high-qua

[2020-07-02 19:40] oxr463 commented on #73
Close, but let me explain a bit further. Why not put your AMIs in the marketplace, but provide a free tier and a supported tier?
Obviously, the later being the paid option.

I am the CTO for a startup and I was only able to find a single Alpine image while searching the marketplace for AMIs.
The image I found had a bunch of extra software out of the box, and really didn't seem like something I wan

[2020-07-02 21:46] mcrute commented on #71
It looks like that's just `fdisk` not understanding our disk layout. On x86 EC2 instances there's no need for a partition table, so we don't use one and format the raw block device ext4. When checking with `parted` things look correct. The `tiny-ec2-bootstrap` package will resize the ext4 partition to take up the entire block device on first boot.

[code]

Please re-open this issue if this is caus

[2020-07-02 21:46] #71 closed

[2020-07-02 22:02] tsarna commented on #73
My offer of a contribution still stands... I appreciate that you'd want to do a transparency website, and I agree it would be a good idea if soliciting donations. But personally it doesn't matter to me. If you want to spend it AWS hosting that's great, but I'd be just as happy if you spent it on yourself, as a thank you for all the work you've put into this project... ditto @tomalok!

[2020-07-02 22:05] mcrute commented on #70
EC2 requires that you obtain an IPv6 address via DHCPv6. While busybox ships with a client `updcpc6` it just seems to do the wrong thing pretty consistently. I was able to fix this by using the ISC `dhclient` client. It seems a little bit of a hack but this is what I did:

[code]

There might be a better way to do this and if you find it please let me know. Otherwise I'll rename this issue and kee

[2020-07-02 22:16] tsarna opened #74 "Become an "Official" Alpine project"
Tying together some ideas related to a couple of other issues, such as using Alpine's gitlab:

I'm not sure what it would take to get the project officially blessed by Alpine and be able to state on https://github.com/mcrute/alpine-ec2-ami/blob/master/releases/README.md that these ARE official Alpine images, but I'm happy to help lobby for it in any way I can.

I think anything that can be done to

[2020-07-02 22:18] mcrute commented on #73
@oxr463 Thanks for the clarification. From a discoverability perspective I'm all for adding the image to the marketplace and I'll plan to do that after the 3.12 images are out. As far as charging for the image, I need to put more thought into that. Ideally I'd prefer to offer it for free and find a different way to cover costs. The maintainers are otherwise employed so we're really only interested

[2020-07-02 22:21] tsarna commented on #70
Yes, I think this is a general Alpine issue and not AWS-specific. Sadly udhcpc6 seems fairly broken, pretty much unmaintained, and has near zero documentation as far as I can tell.

[2020-07-02 22:23] mcrute commented on #74
I completely agree with you. My plan has been to get the release tools updated, the 3.12 images out, and then make the case to pull this into upstream officially. I need to start the conversation with Natanael at some point, and my point for that is once the 3.12 images are released. If you're in a position within upstream to help move that forward I'd very much appreciate your support, please get

[2020-07-02 22:26] mcrute commented on #70
That's the view I had too. Looking at the `ifup` soruce in busybox suggests it's not used at all there. I lack the knowledge or interest to make that work correctly for all the busybox use-cases (pretty much all my IPv6 use is SLAAC). So, unless there's a better way, the approach I outlined above will have to work.

[2020-07-02 22:32] tsarna commented on #73
@mcrute Mainly general development and ensuring that the project continues, but I'm also specifically interested in ARM support. I don't personally need extra long term image retention.

[2020-07-02 22:37] tsarna commented on #74
I have no special influence at all, but I'm happy to provide testimonials, emails of support, thumbs-up on gitlab issues, or whatever else I can do as a lowly user to try to push it forward!

[2020-07-02 22:46] mcrute commented on #74
Thanks! I've reached out to Natanael and will update this issue once I know more.

[2020-07-04 04:51] zfLQ2qx2 commented on #70
@mcrute Thank you for the help! I found that I also had to do "echo 2 > /proc/sys/net/ipv6/conf/eth0/accept_ra" because Amazon is advertising an fe80::... address as the default route - though I don't know if that is the same for everyone or because I'm in a vpc private subnet behind an egress-only internet gateway.

[2020-07-07 14:43] oxr463 commented on #73
See also: https://aws.amazon.com/blogs/opensource/aws-promotional-credits-open-source-projects

[2020-08-09 21:33] tomalok opened #75 "current builder.py ignores revision and end_of_life"
Not sure if this was intentional, but noticed today that when `revision` or `end_of_life` is set in a profile, it's getting overwritten by the current datetime and tomorrow, repsectively.

[2020-08-09 21:48] tomalok opened #76 "allow additional custom setup"
Currently, my `userdata` script pulls in some additional stuff, and executes that -- to speed things up, it'd be nice to already have that additional stuff in my AMI itself.

Idea here is that profiles could specify additional files/directories to be copied when building the image, and a custom script to put it where it needs to be.  `setup-ami` would check for the existence of the custom script a

[2020-08-09 21:52] tomalok opened #77 "edge build is broken"
It appears that the `alpine-mirrors` package has been recently removed.

I've added a new `profiles/base/2`, and marked it as `current`.  The older `profiles/version/` still have this package available, so they now explicitly pull in `profiles/base/1`.

Also added a version profile for 3.12...

PR forthcoming.

[2020-08-09 22:11] #77 closed

[2020-08-10 04:30] tomalok commented on #76
PR #79 adds this feature.

[2020-08-13 01:12] mcrute commented on #76
Changes in #79 LGTM. Thanks!

[2020-08-13 01:12] #76 closed

[2020-08-17 18:11] #75 closed

[2020-08-18 01:16] tomalok commented on #70
@mcrute @zfLQ2qx2 @tsarna

As I'm doing a major overhaul of my personal Alpine AMI config, I took a look at this today...

I'm not sure it makes sense to set up DHCPv6 in EC2...  IPv6 addresses get assigned to interfaces, those addresses can be determined by querying the instance metadata service...  From one of my shell scripts...

[code]

Maybe it'd make sense for `tiny-ec2-bootstrap` (or a diff

[2020-08-19 13:28] zfLQ2qx2 commented on #70
@tomalok I like that idea!

[2020-08-19 15:34] tomalok commented on #70
I played with this a little in a timebox I set aside for myself yesterday -- I didn't have any luck with `udhcpc6`, `dhclient`, or `rdnssd` (SLAAC autodiscovery instead of DHCP) -- finding any helpful docs or understanding some of the finer points of configuring it properly is a bit of a challenge.

I did find some nice Ubuntu documentation about setting up IPv6 various ways with `/etc/network/int

[2020-08-20 00:12] tomalok commented on #70
Opened up https://github.com/mcrute/tiny-ec2-bootstrap/pull/14 to allow optional auto-configuration of EC2 IPv6.

[2020-08-21 00:24] mcrute commented on #70
@tomalok I tried `udhcpc6` and it seems to not work at all. Looking at the source for busybox it seems like it's just an incomplete implementation of DHCPv6.

As I recall [this is the document](https://docs.aws.amazon.com/vpc/latest/userguide/vpc-migrate-ipv6.html#vpc-migrate-ipv6-dhcpv6) that I was referencing in the solution above. EC2 does send out RAs (see below) but they set the managed flag

[2020-08-22 04:57] mcrute opened #82 "Support hotplugging ENIs"
From [tiny-ec2-bootstrap#14](https://github.com/mcrute/tiny-ec2-bootstrap/pull/14#discussion_r475033041). We should support auto-configuration of ENIs in-line with what other distros on AWS support. Right now they just don't get configured at all unless a user does it manually.

[2020-08-24 13:31] martin-g commented on #28
hey @mcrute !
I know it is holiday season! I just want to ask you whether you have any update on this issue!

[2020-08-28 00:21] mcrute commented on #28
@martin-g my apologies, I've gotten tied up in some other stuff and wasn't able to focus on this. The main blocker was a new release tool for opt-in regions which is now ready for review (#83). This should unblock the 3.12 release and we can move forward once that's merged.

[2020-08-28 12:29] martin-g commented on #28
Awesome! Thank you, @mcrute !

[2020-08-29 18:40] tomalok commented on #70
I have a `udhcpc` hook script that correctly syncs IP6s that are configured on the ENI at `post-bound` and `post-renew` events.  Doing the secondary IPv4s from the ENIs pretty much follows the same pattern.  I'm up in the air whether hooking into `pre-deconfig` to clean stuff up is necessary or not -- it seems to adversely impact `service networking restart`, so I'll probably skip that (will doubl

[2020-08-30 22:20] tomalok commented on #82
Adding/removing the configs for each interface and doing `ifup`/`ifdown` shouldn't be too bad.  The `mdev` hotplug will manage individual config pieces in `/etc/network/interfaces.d` -- if an interface doesn't have a file in there, a default config is written, otherwise the existing one is used.  That should allow further customization if necessary.

Another piece of the puzzle is rules and routes

[2020-08-30 22:24] tomalok commented on #82
It appears that IP4s and IP6s on `eth0` don't need rules, because it's always going to be the default.

[2020-09-09 01:51] tomalok commented on #82
I've made significant progress over the long weekend, but I'm currently somewhat blocked on a `busybox` `iproute2` bug that doesn't show IPv6 routes associated with a custom table...
[code]
...returns nothing after we've created one.  I can submit a patch for Alpine's `busybox` package (I found a one-line fix that never got turned into a patch) -- but that would keep this from working on anything

[2020-09-15 03:29] tomalok commented on #82
I think PR #85 is ready, and I've added a description of what's going on under the hood there.

[2020-09-15 03:29] tomalok commented on #70
I think PR #85 is ready, and I've added a description of what's going on under the hood there.

[2020-09-16 02:23] tsarna commented on #28
The t4g family was released yesterday and makes me even more excited for this!

[2020-09-16 05:17] #82 closed

[2020-09-16 13:52] tomalok commented on #70
Closing this -- we now have IPv6 enabled by default, though _indirectly_ via IPv4 DHCP (`udhcpc` post-bound and post-renew hooks).

[2020-09-16 13:52] #70 closed

[2020-09-16 14:08] tomalok opened #86 "Additional ENIs attached/detached pre-boot need to be configured."
_(just when you thought we were done with this!)_

Discovered an edge case late last night.  While #85 takes care of IPv6 and secondary IPv4's via `udhcpc` hooks, and hot un/plugging ENIs is taken care of via `mdev` config/script, an instance that has an extra ENI attached _before_ the instance is started is not set up.

We should be able to accomplish this by ensuring `/sys/class/net/eth*` has co

[2020-09-22 02:43] #86 closed

[2020-11-07 06:54] tomalok commented on #28
We recently built and [released Alpine 3.12.1](https://github.com/mcrute/alpine-ec2-ami/blob/master/releases/README.md) AMIs a couple days ago.

In addition to aarch64 AMIs, these new images also fully support IMDSv2 and hotpluggable ENIs/IPv6/secondary IPv4s.

[2020-11-07 06:54] #28 closed

[2020-11-07 06:59] tomalok commented on #70
We recently built and [released Alpine 3.12.1](https://github.com/mcrute/alpine-ec2-ami/blob/master/releases/README.md) AMIs a couple days ago.

These new images also fully support IMDSv2 and hotpluggable ENIs/IPv6/secondary IPv4s, and are also available for aarch64.

[2020-11-08 19:52] tomalok opened #90 "resize of root disk doesn't work on aarch64"
(As reported in https://github.com/mcrute/tiny-ec2-bootstrap/issues/15 by @tsarna)

Problem is that the bootloader on **x86_64** is installed on the raw EBS volume (allowing `resize2fs` to expand to the full volume size) vs. a partition on **aarch64**, which restricts `resize2fs` to the size of root partition, as defined by the AMI image.

Possible solutions to be applied here (instead of https://

[2020-11-08 22:46] tomalok commented on #90
However, we might be stuck with partitioning...  https://wiki.archlinux.org/index.php/Partitioning#Choosing_between_GPT_and_MBR says...

[2020-11-08 22:50] tsarna opened #91 "eth-eni-hotplug prevents the use of non-eth interfaces like bridges, wireguard, etc."
eth-eni-hotplug prevents the use of non-eth interfaces like bridges, wireguard, etc, since it overwrites /etc/network/interfaces  using only `lo` and any enumerated `eth` interfaces. Even if a file is present in interfaces.d, for example `wg0` or `docker0`, it will not be included.

[2020-11-08 23:17] tomalok commented on #91
The intent was for any additional interfaces to be defined in `/etc/network/interfaces.d/` for assembly into the primary `/etc/network/interfaces`...  But additional interfaces were not tested.

Could you provide a simple additional interface config that could be used for testing?

[2020-11-08 23:25] tsarna commented on #91
I guess the simplest example is a bridge. One of my use cases is to preconfigure a bridge for docker to ensure it has a fixed address and so that unbound can bind to the interface before docker is up.

You'll need to `apk add bridge` for this.

/etc/network/interfaces.d/docker0:

[code]

[2020-11-08 23:38] tsarna commented on #91
I guess eth-eni-setup also generates the interfaces file, so it would need fixing in both places, or for the code to be factored out into some common location

[2020-11-09 22:18] mcrute commented on #90
Using GPT partitions is a requirement in the UEFI spec, so I don't think we can get around that. Maybe the best option would be to also partition the x86_64 images as well, just for consistency?

I'm +1 on using `u-boot` instead of GRUB if it works on the Graviton instances, although I don't see it as being necessary for this (unless I'm missing something).

[2020-11-09 22:41] tomalok commented on #90
As GPT is a requirement of UEFI, the sole benefit of `u-boot` would be to reduce the footprint imposed by `grub`...  Of course we'd need to get `u-boot` actually working first.  However, there are no x86_64 packages for it, even though it's supposed to work on that arch...  so unless we add that, we wouldn't be able to have One Bootloader to Rule Them All (besides `grub`).

[2020-11-09 23:15] mcrute commented on #90
The kernel is a valid UEFI payload in and of itself. Maybe we can just skip the bootloader and directly boot the kernel. That doesn't help unify x86_64 and aarch64 but it does potentially simplify and slim down aarch64.

Getting `u-boot` working on Graviton might be quite a large task. I don't see any point in doing it unless you really want to have an adventure. (Although I presume AWS has an int

[2020-11-14 21:24] tomalok commented on #90
It looks like https://pkgs.alpinelinux.org/package/edge/main/aarch64/efibootmgr (https://github.com/rhboot/efibootmgr) is what we'll need to switch from `grub` to directly booting the kernel?  At least, from what I read on https://wiki.archlinux.org/index.php/EFISTUB#Using_UEFI_directly

[2020-11-16 04:28] mcrute commented on #90
I don't think that'll work. `efibootmgr` is a program for manipulating firmware NVRAM on the machine, something which AWS most definitely does not allow (they even have a dedicated chip on their motherboards to prevent things like this). But the good news is there's a convention for UEFI to load `EFI\boot\bootx64.efi` (more generically `efi\boot\boot${ARCH}.efi`, should be case insensitive) from t

[2020-11-16 04:31] #91 closed

[2020-12-12 01:55] tomalok commented on #90
Switching title of this because the **aarch64** resize issue is resolved by mcrute/tiny-ec2-bootstrap#16 and mcrute/tiny-ec2-bootstrap#17.

#94 added the ability to choose the bootstrap method via profile.

Outstanding issues, AFAIK...
- [ ] **initfs** also needs to be on the GPT partition
- [ ] kernel config determines the **initfs** pathname -- this appears to be currently unset in the `linux-vi

[2020-12-12 02:10] tomalok opened #95 "builder.py release subcommand issues"
Bringing things forward from  #83

- [x] 🐛 `source_ami` is not unique across regions, need to also add `source_region`
- [x] 🐛 Source AMIs need to have their permissions updated, too.
- [x] ⚙️ Allow multiple AMIs to be specified for release?
- [x] 📖 Update documentation

[2020-12-12 02:16] tomalok opened #96 "update releases/<profile>.yaml based on what's really there"
Perhaps the new `release` subcommand could also traverse the regions and update `releases/<profile>.yaml` with the matching AMIs that actually exist there.

Or, the same broker mechanism used in `release` could be used in a different subcommand.

No/few changes to the code to update `releases/README.md` should be necessary as long as the release's YAML is fully fleshed out.

[2020-12-15 02:06] mcrute opened #99 "Support other cloud providers"
If this image were to become the official image for upstream Alpine, we'd need to support more than just AWS. After talking to the Alpine developers, they consider these cloud providers to currently be high priority for their images (there may be others later).

- [ ] Azure
- [ ] GCP
- [ ] Oracle

Making these work will require open sourcing and significant expansion of the identity broker (doable

[2020-12-15 02:10] mcrute opened #100 "Support cloud-init"
This image currently uses [tiny-ec2-bootstrap](https://github.com/mcrute/tiny-ec2-bootstrap/) which is a very minimal re-implementation of cloud-init functionality. As cloud-init support for Alpine begins to take shape, and to support #99, we should start to think about moving to cloud-init instead of tiny-ec2-bootstrap.

The original rationale for tiny-ec2-bootstrap was twofold: cloud-init is a c

[2020-12-15 02:12] mcrute commented on #74
This conversation is ongoing with upstream and is currently blocked pending the 3.13 release. I'll update again once there's information to share.

[2020-12-15 02:13] mcrute commented on #53
I think this is fixed with the new tooling so I'm going to close it. Feel free to re-open if I am mistaken.

[2020-12-15 02:13] #53 closed

[2020-12-15 02:18] mcrute commented on #96
I really like this idea. I'd like to see `release/<profile>.yaml` be nothing but a generated artifact based on all the tags of the images in all regions. Currently there is some data in the YAML file that's not tagged to images in various regions that would need to be backfilled. I did a bunch of analysis a few months ago (and misplaced all that work, argh!) about what would need to be backfilled

[2020-12-15 06:24] #96 closed

[2020-12-20 21:46] tomalok commented on #99
Started glancing at this yesterday... Packer's `ebs-surrogate` builder doesn't seem to have a direct equivalent in Azure, GCP, and Oracle OCI.  (Not sure it's worth supporting Oracle Classic...)

AWS and Azure both have `...-chroot` builders, but that requires an already-running instance.

It appears that the default for most cloud builders is to launch some already-in-existence image (or run Pack

[2020-12-20 21:57] tomalok commented on #100
I would prefer we maintain the original minimalist and `cloud-init` flavors going forward.  They're just slightly different builds of the same profile.

[2020-12-20 22:11] tomalok opened #102 "image pruning"
Pruning images needs a little work.

* remove dependency on a local catalog of images - use `refresh-releases` code to get an in-memory assessment of what images are currently out there
* default for `prune-amis` (`prune-images`?) is to report what _would_ be done.  An additional flag must be provided to _really_ do the pruning.
* don't report unknown images by default -- but the ability to do so

[2020-12-20 22:19] tomalok opened #103 "Post-build cleanup"
`builder.py amis` is updating **releases/<profile>.yaml** and **releases/README.md** for every AMI built -- this is no longer necessary, and for the most part, gets in the way of things.

Instead, it may be handy to report the list of AMIs that were built in the session, so they may be passed along to `builder.py release`

[2020-12-21 02:54] mcrute commented on #99
That's a really interesting idea! It would be pretty nice to have a single (or at least limited number) of qcow2 images we can use to power the clouds. I personally have a use for this in my test lab too and have a different process for building those images today that could be united into this.

In my extremely limited research it looks like we could also use the AWS image import feature to [impo

[2020-12-21 02:55] mcrute commented on #99
In the longer term I was also hoping to provide qcow2 images for Alpine as well so that people running on-prem infrastructure could make use of them.

[2020-12-21 02:57] mcrute commented on #100
The biggest risk I see here is that we'll have to write and maintain all of the logic for the boot process of each cloud provider going forward. If they add features then we'll have to support them without the help of their SDK. It seems like we'd be taking on a pretty huge maintenance task when there's already a well supported solution in the ecosystem in the form of cloud-init. While I'm not rea

[2020-12-21 16:30] tomalok commented on #100
The tiny-[cloud]-bootstrap does these things:
* disable passwords for `root` and _`cloud-user`_ (cloud-agnostic)
* resize root partition to use available space (cloud-agnostic)
* get hostname from cloud metadata service and set it
* get SSH keys from cloud metadata service and install them
* get startup script from cloud metadata service and run it.

The only thing we need to track how to access e

[2020-12-21 22:50] tsarna commented on #100
I understood @tomalok to be saying that tiny-ec2-init should remain supported as an option for AWS going forward, not necessarily extended to other platforms, but based on the later reply maybe I misunderstood. Personally I'd be OK with this approach, if not indefinitely then at least for enough time for users to transition.

[2020-12-21 23:03] tsarna commented on #99
Supporting other cloud providers is a great goal, but I would have to see it be a blocker for better integration with official Alpine. Don't let the perfect be the enemy of the good and all that.

I do quite a lot at my Day Job with Azure, and I'm happy to help in any way I can. Although, creating custom images is something I've never done.

[2020-12-21 23:35] tsarna commented on #100
For Azure:

When creating a VM the user can specify a username and either a password or one or more ssh keys. If the user specified a password then I think Alpine should respect that. The multiple keys option should also be supported.

The Azure IMDS is on 169.254.169.254 just like AWS's, except of course the structure of the data is completely different. See https://docs.microsoft.com/en-us/azure

[2020-12-21 23:49] tsarna commented on #100
Yikes, from the cloud-init Azure docs:

There's also bunch of ugly stuff around extracting data from dhcp options (the "endpoint", which is apparently distinct from the IMDS?) , needing to bounce the interface to get the hostname registered, etc. See https://cloudinit.readthedocs.io/en/latest/topics/datasources/azure.html

I really have to wonder if it's worth it to try to provide a lightweight al

[2020-12-22 03:13] tomalok commented on #99
@tsarna there are some things in the works, but in general the plan is to support other clouds for Alpine 3.14 (π?), so we have some time to sort out the details...  :)

[2020-12-22 03:18] tomalok commented on #100
Thanks for the Azure info dump, @tsarna! :)  Eventually, we might want to enlist your support over at mcrute/tiny-ec2-bootstrap/issues/18 or wherever a multi-cloud descendant ends up...  :)

[2020-12-22 06:40] mcrute commented on #99
@tsarna

Indeed. We're not blocking on adding new providers and are planning to release upstream official 3.13 images. But @tomalok is correct, we'll hopefully be adding more providers **after** the transition to upstream.

[2020-12-22 06:45] mcrute commented on #100
Thanks for digging into that and the detailed notes @tsarna!

If we end up trying to re-invent cloud-init but more lightweight, I think it might be worthwhile to rewrite the bootstrap in Go instead of shell. It'll make it a little bit heavier in terms of the absolute number of bits we ship but it would be a static binary so won't drag along any dependencies. That upside of that would be that we ca

[2020-12-23 01:07] #103 closed

[2020-12-29 20:34] tomalok commented on #102
Working on a bigger shake-up than intended...  including a new `Releases` class for release-data based operations...
* get data for all the existing released images
* reorganize into a 'releases' data structure
* output releases YAML (currently to a file, but export to an S3/object storage bucket, or in JSON format instead is doable)
* figure out which releases are ready to be pruned.

Regarding t

[2020-12-29 20:59] tomalok opened #105 "Packer "1.5" HCL Config"
[Packer's HCL configuration is currently in BETA](https://www.packer.io/docs/from-1.5).

Essentially it brings the power of Terraform 0.12+'s configuration language to Packer.

In theory we might be able to dynamically configure all the builds that need to happen, in all the various dimensions a profile has -- version, architecture, cloud, variant (base +/- features) -- and still be able to define

[2020-12-31 17:58] tomalok commented on #102
Nearly done with this (just needed to update the README builder) -- and then realized that the different archs are in separate profile builds, and ***that's*** what needs to be tracked.

@mcrute: I've been building/releasing **edge** AMIs to validate the code changes -- I haven't yet wired in the actual AMI deletion yet (just showing what _would_ be pruned), but that will likely happen soon -- I'l

[2020-12-31 18:11] mcrute commented on #102
Sounds good! Did you hack around with data backfill for older AMIs or should I grab that task? I'll have some time over the next 5 days to hack on stuff, finally.

[2020-12-31 18:17] tomalok commented on #102
Nope, didn't touch the data backfill -- but a `prune UNKNOWN` now does a good job of listing everything that's missing a `profile` tag, at least...  ;)

[2021-01-05 01:36] #102 closed

[2021-01-05 04:36] tomalok opened #107 "exception setting source region AMIs back to private"
it works on the AMI, but still trips the exception...
[code]
it could be that could just skip the "add" operation after resetting permissions when setting AMIs back to private.

[2021-01-18 19:46] mcrute opened #109 "Missing Images in Regions (Close on 2021-11-1)"
The following regions are missing images that all other regions have. With the exception of 3.9 (which is EOL) the regions have newer versions of the release series (ex: missing 3.11.0 but have 3.11.7, the latest in the 3.11 series). This likely is the case because the regions were added after the images were built and our region bring-up didn't replicate all images at the time.

All newer images

[2021-01-18 19:48] mcrute commented on #74
The cloud images are now official. See the [Alpine Cloud Page](https://alpinelinux.org/cloud/) for more details. We're going to continue working on GitHub for now but are looking into migrating our infrastructure to Alpine GitLab in the future.

[2021-01-18 19:48] #74 closed

[2021-01-18 19:49] mcrute commented on #73
Just an update. I've been working on getting this into the marketplace. The mandatory AWS image audit uncovered some issues that are being fixed then this should be unblocked.

[2021-01-18 19:51] mcrute commented on #22
Closing this in favor of #72

[2021-01-18 19:51] #22 closed

[2021-01-18 19:54] tomalok commented on #73
Do we have issues for those issues?  The only one I know about was fixed, afaik.

[2021-01-18 19:55] mcrute commented on #73
I'm going to run it through testing again here shortly. Will update once I know.

[2021-01-18 22:09] mcrute commented on #73
All checks have passed and I've submitted both the x86 and ARM images to the marketplace for review. Their form claims it will take 3-5 days for review.

[2021-01-18 22:11] mcrute commented on #73
Tagging @kaniini for updates. Ariadne has expressed interest in this moving forward.

[2021-01-18 22:13] mcrute commented on #73
Once this is released I'll push on my contacts at AWS to nerf [this image](https://aws.amazon.com/marketplace/pp/B07Q4Q8KV5) which is masquerading as an official Alpine release and charging money for out-of-date images.

[2021-01-20 03:44] #95 closed

[2021-01-20 03:44] tomalok commented on #95
merged in #97

[2021-01-29 21:33] zfLQ2qx2 opened #110 "==> amazon-ebssurrogate: ERROR: Newer Alpine release detected: 3.13.1"
I'm trying have our ci/cd build the latest Alpine image - I'm using version/current in the profile definition, but I encountered this error while building:

==> amazon-ebssurrogate: ERROR: Newer Alpine release detected: 3.13.1

Is there a way that I can tell the builder script to build the latest release, or the latest release it knows about, even if there is a newer one? I know that at some point

[2021-01-30 02:31] tomalok commented on #110
It looks like a new release landed yesterday.  I'll get that updated now.

if you don't want to wait for the PR to be merged, you can update `release` in **profiles/version/3.13**

[2021-01-30 03:25] #110 closed

[2021-02-01 19:33] zfLQ2qx2 commented on #110
@tomalok The quesition is more about automation - is there a way to have this just build the latest release it knows about - i.e. existence of a newer build should not kill the build.

[2021-02-01 19:38] zfLQ2qx2 opened #112 "==> amazon-ebssurrogate: ERROR: Newer Alpine release detected: 3.13.1"
@tomalok This is a follow-up to #110 which was closed. The question was more about automation, is there a way to have the builder script just build the latest release it knows of? i.e. existence of a newer release shouldn't kill the build. If I'm building AMIs as part of a CI/CD pipeline I don't want all the pipelines to die while waiting for someone to merge a fix to this repo.

[2021-02-02 01:03] tomalok commented on #112
This has been a long-term "To-Do" item that's been at the bottom of https://github.com/mcrute/alpine-ec2-ami/blob/master/README.md under *Caveats* for quite a long time.

The big reason it hasn't been addressed previously is that by the time we had the Alpine release available to us, we were already inside the build, and not able to get that information outside the instance that was launched for t

[2021-02-02 03:18] zfLQ2qx2 commented on #112
@tomalok I'm using AWS CodePipeline to launch a CodeBuild process which runs packer to build the Alpine AMI then uses CodeDeploy to update a cloudformation template with the new AMI Id. From there some additional configuration is done on instance boot in start up scripts. I'm not too excited about the last part, its on my to-do to see if I can find a place I can inject a custom configuration scrip

[2021-02-02 15:29] zfLQ2qx2 commented on #112
I see where to inject a script - https://github.com/mcrute/alpine-ec2-ami/blob/master/profiles/test.conf#L18

[2021-02-02 15:50] tomalok commented on #112
Yep, I added that feature a couple cycles ago, I use it for fleshing out my custom images.  If the setup script needs additional artifacts (or needs to call other scripts), you can define them with `setup_copy` -- there's a little bit of documentation hidden towards the bottom of https://github.com/mcrute/alpine-ec2-ami/tree/master/profiles/README.md, starting with "Further customization..."

I ma

[2021-02-02 20:36] zfLQ2qx2 commented on #112
@tomalok Awesome! I'll give it a shot as soon as I see it

[2021-02-03 04:13] #112 closed

[2021-02-03 04:29] zfLQ2qx2 opened #114 "setup_copy"
I've got a setup script defined in my profile and working, but I'm running into problems with setup_copy. I've created a directory alpine-ec2-ami/local with content I want to place into the image via my setup script. I've been doing trial and error with various values to setup_copy to get that directory placed into /tmp/setup-ami.d/local and I'm not seeing errors, but when I run a "find" from my s

[2021-02-03 04:48] tomalok commented on #114
How are you setting the `setup_copy` map?  If I remember correctly, the keys are tdestinations _under_ /tmp/setup-ami.d (on the build instance, not the target directory that eventually becomes the new image), and the value is the path (relative or absolute) to the local file/directory to copy.

For example, here's what I'm using for my custom image...
[code]
The paths to the script and directory t

[2021-02-03 14:48] zfLQ2qx2 commented on #114
@tomalok Based on your example I created the subdirectory alpine-ec2-ami/local with a number of files in it and then did this:

[code]
And it worked! :balloon::tropical_drink::tada::cake::balloon: Thank you so much, this is twice this week you've aided me, much appreciated! I think I'll be able to find my own way from here.

[2021-02-04 01:11] #114 closed

[2021-02-22 15:58] tomalok commented on #73
@mcrute how did that review go?

[2021-05-02 22:36] mcrute commented on #73
AWS gave some pretty non-specific feedback about wanting "better instructions" for launching the image. I've re-submitted 3.13.5 with "better instructions". I'll update this issue once I know more.

[2021-05-02 22:42] mcrute commented on #100
I've opened PR #118 which adds cloud-init support. The basic boot and login tests pass just fine but we still need to validate that the rest of what tiny-ec2-bootstrap was doing works correctly.

[2021-05-02 22:47] mcrute opened #120 "Moving Repository"
This is a public notice that this repository will be moving around the end of May 2021. The repository will be imported with all of its history to [Alpine GitLab](https://gitlab.alpinelinux.org). The new home of the repository will be:

[code]

Please update your git remotes to one of these:

[code]

I will comment on this issue one day before the move begins and close it before I being the migrat

[2021-06-14 04:14] Entelin opened #121 "EC2 aarch64 3.13.5 won't boot after upgrade."
To reproduce: Create an ec2 instance from the website: (aarch64, 3.13.5)
https://us-east-1.console.aws.amazon.com/ec2/home#launchAmi=ami-0056ccb36f3fb6235

[code]

The system will no longer boot.

tomalok in #alpine-cloud was able to locate the source of the issue:
(/boot/grub/grub.cfg is missing modules on line 99)

[code]

[2021-06-14 15:28] tomalok commented on #121
The `/etc/default/grub` we install does not interpolate the string variables inside it -- but because those variables are `export`ed when we're setting things up, it works okay when we're creating the AMI.

solution is to use `envsubst` or some equivalent to make the `/etc/default/grub` contents static.

[2021-06-15 19:22] tomalok opened #123 "builder.py release-yaml filter non-public AMIs"
add an option to skip non-public (aka private) AMIs when generating the `releases/<profile>.yaml` metadata

[2021-06-15 19:34] #121 closed

[2021-08-08 22:55] tomalok commented on #120
@mcrute - I'm not sure this has happened yet or not.

Either way, I've forked this repo over to https://gitlab.alpinelinux.org/tomalok/alpine-cloud-images  to move forward with
* supporting more cloud providers - and a better way of defining image "dimensions" and generating profile build matrices
* moving cloud-specific and bootstrap-specific stuff over to https://github.com/mcrute/alpine-ec2-ami

[2021-08-08 22:58] tomalok commented on #105
Packer HCL2 configs are no longer in beta.

I've forked this repo over to https://gitlab.alpinelinux.org/alpine-cloud-images where I'll be working on this, and other stuff.

[2021-08-08 23:01] tomalok commented on #100
To help detangling some of the stuff that we've put in this repo that cloud-init handles (and a laundry list of other things), I've forked over to https://gitlab.alpinelinux.org/tomalok/alpine-cloud-images.  The stuff that's removed from here will end up being handled by the tiny bootstrapper (tiny-ec2-bootstrap's also been forked over to https://gitlab.alpinelinux.org/tiny-cloud-bootstrap).

[2021-08-08 23:07] tomalok commented on #99
I've forked this repo over to https://gitlab.alpinelinux.org/tomalok/alpine-cloud-images where I'll be working on this, and other stuff.

I've done a Q&D PoC that should lead to making profile configuration more flexible and autogenerate the build matrix -- and allow us to include "Clouds" (and other things) as definable dimensions.

[2021-08-08 23:18] tomalok opened #125 "Switch from sudo to doas"
Per https://gitlab.alpinelinux.org/alpine/tsc/-/issues/1, Alpine 3.15 will very likely move `sudo` from the main repo to community, and switching to `doas` as its preferred privilege escalation utility.

This shouldn't be hard to do...
- [ ] a new **profiles/base/3** that installs `doas` instead of `sudo` that edge and 3.15 versions pull in
- [ ] update **/etc/doas.conf** to allow passwordless `do

[2021-08-13 19:04] mcrute commented on #120
@tomalok sorry, I've once again had very limited time to focus on this project. I can not access your fork, can you give me at least read access?

The migration has been completed and the new official URL is https://gitlab.alpinelinux.org/alpine/cloud/alpine-ec2-ami/.

We need Alpine admins to make this public but you should have full maintainer access as a member of the cloud team, I anticipate i

[2021-08-13 19:04] #120 closed